@using  System.Security.Claims
@model MarketDataBase.Entities.User


@{
    ViewData["Title"] = "GAZON";
}

<div class="flex-column center">
    @if (!this.User.Identity!.IsAuthenticated)
    {
        <div class="auth-form shadow">
            <form asp-action="Index" asp-controller="Auth">
                <div class="flex-column center">
                    <p>Welcome back!</p>
                    <input type="text" placeholder="Login" name="login" class="input">
                    <input type="password" placeholder="Password" name="password" class="input">
                    <button class="button" type="submit"><P>Log in</P></button>
                </div>
            </form>
        </div>
    }
    @if (this.User.Identity!.IsAuthenticated)
    {
        <p>Welcome @User.Identity!.Name, your role is @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value.</p>


        <a style="text-decoration: underline; cursor: pointer;" asp-action="LogOut" asp-controller="Auth">Log out</a>
    }

</div>