@model MarketPlace.DAL.Entities.Item

<h2>Добавление предмета</h2>
<form asp-action="create" asp-controller="market">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Description">Description</label><br />
        <input type="text" asp-for="Description" />
    </p>
    <p>
        <label asp-for="Vendor">Vendor</label><br />
        <input type="number" asp-for="Vendor" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>