<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../src/images/UI/svg/Star.svg">
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="header flex-row center space-around ">
    <div id="Logo">
        <a asp-action="Index" asp-controller="Market">
            <img src="../src/images/UI/svg/GAZON.svg" alt="Gazon logo">
        </a>
    </div>
    <div class="search-bar ">
            @using (Html.BeginForm("Search", "Market", FormMethod.Get, new { @class = "flex-row center space-between" }))
            {
                <input type="text" name="key" placeholder="Search on Gazon">
                <button type="submit">
                    <img src="../src/images/UI/svg/Search.svg" alt="Search">
                </button>
            }
    </div>
    <div class="nav">
        <button>
            <a asp-action="Index" asp-controller="Auth">
                <img src="../src/images/UI/svg/Profile.svg" alt="Profile">
            </a>
        </button>
        <button>
                <a asp-action="Index" asp-controller="Points">
                    <img src="../src/images/UI/svg/Point.svg" alt="Point">
                </a>
        </button>
        <button>
                <a asp-action="Create" asp-controller="Market">
                    <img src="../src/images/UI/svg/Add.svg" alt="Point">
                </a>
        </button>
    </div>
</div>
<div style="height: 4vw;">

</div>
@RenderBody()

</body>
